<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <div id="loggedInInfo">Logged in as <span id="username"></span><button onclick="logout()">Logout</button></div>
    <h1>User Profile</h1>
    <form id="profile-form" method="POST" action="/user/profile">
      <span id="profile-form-error" style="color:red;"></span>
      <span id="profile-form-success" style="color:green;"></span>
      <br/>
      <label>Email<sup>*</sup></label><br/>
      <input name="email" type="text" placeholder="Your Email" value="<%= user && user.email ? user.email : '' %>" required disabled><br />
      <br/>
      <label>Name</label><br/>
      <input name="name" type="text" placeholder="Your Full Name" value="<%= user && user.name ? user.name : '' %>"><br />
      <br/>
      <label>Phone</label><br/>
      <input name="phone" type="phone" placeholder="Your Phone No." value="<%= user && user.phone ? user.phone : '' %>"><br />
      <br/>
      <label>Current City</label><br/>
      <input name="city" type="text" placeholder="Your Current City" value="<%= user && user.city ? user.city : '' %>"><br />
      <br/>
      <label>Timezone</label><br/>
      <input name="timezone" type="text" placeholder="Your Timezone" value="<%= user && user.timezone ? user.timezone : '' %>"><br />
      <br/>
      <input type="submit" value="Update Profile" />
    </form>

    <br/>
    <br/>
    <a href="/user/dashboard">Visit Dashboard</a>
  </body>
  <%- include('../../partials/footer.ejs') %>
</html>